# dependencies
node_modules/
.pnp
.pnp.js

# next.js / build output
.next/
out/
build/

# env
.env
.env.local
.env.*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.log
.vscode/
.idea/
